body {
    background-color: #cfb3d0;
}

h1 {
    color: rgb(88, 17, 100);
}

h3 {
    color: rgb(88, 17, 100);
}

hr {
    
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(72, 72, 72);
    border-width: 5px;
    width: 5%;
}

img {
    height: 200px;
}